<h1>About Me</h1>
<p>I'm a junior developer with a degree from West Virginia University
 and a career background in GIS and vegetation management. I have been committed to web developement
 since 2018. My skillset includes a focus on Javascript & Ruby on Rails 
 and experience with C and SQL.</p>
