<br />
<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>

    <div class="row">
      <div calss="col-md-4">
        <%= image_tag "about_profile_pic", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>
      <div class="col-md-8">
        <p>Junior developer currently working in GIS looking to take on Web Development full-time. 
        Building on a foundation in computer science and the timeless functional language, C. I have been committed to web developement
        since 2018. My skillset includes a focus in Javascript & Ruby on Rails, while using frameworks 
        like REACT and Bootstrap.</p>
      </div>
    </div>
  </div>
</div>