<br />
<br />
<br />
<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "about_profile_pic.png", width: 300, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <p>Junior developer currently working in Vegetation Management looking to take on Web Development full-time. The past 2 years
         have been a commitment to studying Computer Science, Programming, & Web Development. With a 6 months of bootcamp, 
        countless Udemy courses, podcasts, & dozens of books, I've been grooming myself to take the next step. 
        After immersing myself in HTML, CSS, and touch of Javascript I delved into CS fundamentals and took on learning C. Building a CS & programming foundation
        was important to me. Since then my skillset has grown into a focus in Javascript & Ruby on Rails, while using frameworks 
        like REACT and Bootstrap.</p>
        
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobsHistory"
            aria-expanded="false"
            aria-controller="jobsHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education 
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#additonalSkills"
            aria-expanded="false"
            aria-controller="additonalSkills"
          >
            Additional Skills
          </button>
        </p>

        <p>
          <div class="collapse" id="jobsHistory">
            <div class="card card-block">
              <h3>Vegetation Management Consultant</h3> 
              <h5>Davey Resource Group</h5> 
              <p>2016 – Present. Prince Georges County, MD / Mid-Atlantic.</p>
              <ul>
                <li>Contracted vegetation management planner for PEPCO and other electric utilities throughout the mid-Atlantic.</li>
                <li>Intimate knowledge of client’s electric grid, assets, and operations to develop and create line clearance plans using proprietary GIS software.</li>
                <li>Collaborating with municipal directors, department leaders, arborists, county representatives, land owners, and the state of Maryland.</li>
                <li>Strengthening and maintaining municipal relationships to obtain permitting and permission</li>
                <li>Fill in team lead for Prince Georges County, Maryland. Train new employees and assist in strengthening horticulture, arboriculture, and electrical knowledge.</li>
                <li></li>
              </ul>
            </div>

            <div class="card card-block">
              <h3>Account Manager/ Supervisor</h3>
              <h5>Level Green Landscape. 2014 – 2016. Washington, DC.</h5>
              <ul>
                <li>Supervised and managed 30+ all-season contracts on commercial, university, and government properties (valued at over $175,000)</li>
                <li>Specifics included leading and directing crews on jobs </li>
                <li>Specialized in urban scapes and DC mid-rise buildings</li>
                <li>Developed and bidded for new contracts, expected to meet sales expectations, and created new clients while maintaining existing relationships.</li>
              </ul>
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              <p><h4>West Virginia University</h4>Morgantown WV. Bachelors of Science 2014: Environmental and Natural Resource Economics & Minor: Business Administration</p> 
            </div>
            <div class="card card-block">
              <p><h4>George Washington University</h4>Washington DC. 2019. Full-Stack Web Development Immersive.</p>
            </div>
          </div>

          <div class="collapse" id="additonalSkills">
            <div class="card card-block">
              <h4>Addtional Skills and Accomplishments</h4>
              <ul>
                <li>Eagle Scout: Held many leadership positions in the program, performed hundreds of hours of community service, management tasks, trip planning, and developed important life skills</li>
                <li>President of 5 Rhode Island Avenue Home Owners Association</li>
                <li>ISA Certified Arborist</li>
                <li>Maryland DNR Licensed Tree Expert</li>
                <li>Proficient with GIS</li>
                <li>Proficient in Microsoft Excel</li>
                <li>Future Business Leaders of America: Business-law competition 2nd place Berks County (over 75 participants) securing bid to Pennsylvania state level completion </li>
                <li>Experience with AutoCAD</li>
                <li>Exelon East Safety Committee Board Member</li>
                <li>Proficient in Spanish</li>
                <li>Intermediate Piano player</li>
                <li>2007 Most Valuable Swimmer, Twin Valley Swim Team</li>
              </ul>
            </div>

          </div>
        </p>
      </div>
    </div>
  </div>
</div>