<h1>Contact Information</h1>
<br />
<h3>Tyler C Cloetingh</h3>
<br />
<p>5 Rhode Island Ave NW, Washington DC 20001</p>
<p>tcloetingh@gmail.com</p>
<p><%= number_to_phone "4844327170" %></p>
<a href="https://github.com/tcloetingh">My Github</a>
