<div class="inner cover">
  <h1 class="cover-heading">Always Developing</h1>
    <p class="lead">Welcome, take a look around, I hope you find what you need</p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>