<div class="inner cover">
  <h1 class="cover-heading">Always Developing</h1>
    <p class="lead">Junior Full-Stack Web Developer and AWS Certified Cloud Practitioner with a focus on JavaScript development and a background in Environmental Planning / GIS. Looking to bring project skills and technical expertise to your team. Effective at organizing applications and finding solutions to unique problems. </p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>